<div class="page-header">
  <h1>新規イベント登録</h1>
</div>

<form name="form" novalidate>
  <div class="form-group">
    <label for="eventTitle">タイトル</label>
    <input name="eventTitle" class="form-control" type="text" ng-model="event.title" required>
    <span ng-show="form.eventTitle.$error.required">必須です</span>
  </div>

  <div class="form-group">
    <label for="eventNote">内容</label>
    <textarea name="eventNote" class="form-control" ng-model="event.note" required></textarea>
    <span ng-show="form.eventNote.$error.required">必須です</span>
  </div>
  
  <div class="form-group">
    <label>候補日</label>
    <div class="col-sm-12 well">
      <div class="col-sm-6">
        <div class="input-group">
          <input type="date" class="form-control" ng-model="dateFrom">
          <span class="input-group-addon">から</span>
          <input type="date" class="form-control" ng-model="dateTo">
          <span class="input-group-btn">
            <input type="button" class="btn btn-default" value="選択 >>" ng-click="addDates(dateFrom, dateTo)">
          </span>
        </div>
      </div>
      <div class="col-sm-offset-1 col-sm-5">
        <div class="checkbox" ng-repeat="date in event.dates">
          <label ng-click="dateChange($index)">
            <input type="checkbox" value="{{ date }}" ng-checked="{{ true }}"> {{ date | date: 'yyyy-MM-dd' }}
          </label>
        </div>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <input type="button" value="登録" class="btn btn-default" ng-click="create(event)" ng-disabled="form.$invalid">
  </div>
</form>
