<script>
$(function () {
  $.material.init();
});
</script>

<div class="page-header">
  <h1>新規イベント登録</h1>
</div>

<form name="form" ng-submit="create()" class="form-horizontal" novalidate>
  <div class="well col-sm-12">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="eventTitle" class="col-sm-2 control-label">タイトル</label>
        <div class="col-sm-10">
          <input id="eventTitle" name="eventTitle" class="form-control input-lg floating-label" type="text" placeholder="例）打ち合わせ日の日程調整" ng-model="event.title" required>
        </div>
      </div>

      <div class="form-group">
        <label for="eventNote" class="col-sm-2 control-label">内容</label>
        <div class="col-sm-10">
          <textarea id="eventNote" name="eventNote" class="form-control floating-label" placeholder="例）前回プロジェクトの振り返りを行います。" ng-model="event.note" rows="10" required></textarea>
        </div>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-5">
      <div class="form-group">
        <label>候補日</label>
        <div class="col-sm-12">
          <div class="col-sm-5">
            <div class="row">
              <span>FROM</span>
              <input type="date" class="form-control" ng-model="dateFrom">
            </div>
            <div class="row">
              <span>TO</span>
              <input type="date" class="form-control" ng-model="dateTo">
            </div>
            <div class="row">
              <input type="button" class="btn btn-default btn-block" value="選択" ng-click="addDates(dateFrom, dateTo)">
            </div>
          </div>
          <div class="col-sm-offset-1 col-sm-6">
            <div class="checkbox" ng-repeat="date in event.dates">
                <label>
                  <input type="checkbox" ng-model="date.checked"> {{ date.value | date: 'yyyy-MM-dd' }}
                </label>
            </div>       
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm12">
      <input type="submit" value="登録" class="btn btn-primary btn-block" ng-disabled="form.$invalid">
    </div>
  </div>
</form>
